body {
	background-color: #fff;
	color: #111;
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 62.5%;
}

body * {
	margin: 0;
	padding: 0;
}

.content a:link {
	color: #00f;
}
.content a:visited {
	color: #909;
}
.content a:hover, .content a:focus {
	color: #c00;
}
.content a:active {
	color: #f33;
}
.content {
	background-color: #fff;
	color: #333;
	padding: 10px;
    width: 380px;
	margin: 0 auto;
    text-align: center;
}
.content table {
	font-size:1.2em;
}

.content fieldset {
	border: none;
}
.content legend {
	width:100%;
	font-size: 1.4em;
	font-weight: normal;
	color: #535c7c;
	padding-bottom: 10px;
	text-align:center;
}

.content #error {
	border: 1px solid #c00;
	color: #c00;
	background-color: #fcc;
	padding: 10px;
	margin: 0 0 10px;
}
.content .message {
   border: 1px solid #fc0;
   background-color: #ff9;
   color: #b50;
   padding: 10px;
   margin: 0 0 10px;
}
.content .notice {
   color: #757575;
   font-size: 90%;
   font-style: italic;
   padding: 10px 0 0 0;
   margin: 0 25px 10px 25px;
}
.content .notice a {
	color: #4074CE;
}

.content .notice strong {
	color: #585858;
}
.content .q {
	clear: both;
	margin: 10px 25px;
	overflow:hidden;

    padding: 0 0 0 30px
}

.content label {
	font-size: 1.5em;

    float: left;
    width: 25%;
}

.content input {
	font-size: 1.5em;
}
.content input:focus {
	border-color: #c00;
	background-color: #ff9;
}

.content .forgotten {
	text-align:center;
	margin: 0 25px 12px 25px;
}

.content .submit button {
	padding: 5px 10px;
	background:#128acc;
	color:#fff;
    font-size: 1.5em;
	font-weight: bold;
	color: #fff;
	border: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.content .submit button:hover, .content .submit button:focus {
	background-color: #023a68;
	cursor: pointer;

}
.content .submit button:active {
	background-color: #023a68;
	background-image: none;
	color:#fff;
	cursor:default;

}
.content .submit button[disabled] {
   border-color: #ccc;
   background-color: #ddd;
   background-image: none;
   color: #eee;
}

#usage {
    margin-top: 1em;
    padding: 2px;
    border: 2px dotted gray;
}

.content h1 {
	width: 100%; 
	height:70px;
	line-height:70px;
	background:url(images/meter.jpg) no-repeat;
	font-size:2.2em;
	color:#00447c;
	margin:1em 0;
	padding: 0 0 0 70px;
	text-align:left;
    /*text-shadow: #aaa 0px 3px 3px;
	-moz-text-shadow: #aaa 0px 3px 3px;
	-webkit-text-shadow: #aaa 0px 3px 3px;*/
}

.content h2 {
	font-size:1.6em;
	margin:0 25px 4px 25px;
	text-align:left;	
}
.content .marginlt {
	margin-left:25px;
}
.lt {
	text-align:left;
}
.rt{
	text-align:right;
}
.text_left {
	text-align:left;
}
.content .odd {
	background: #fafafa;
}
.content tfoot{
	background: #f3f3f3;
}
.content table {
	clear:left;
	margin:12px 25px 16px 25px;
	width:318px; 
}
.content td, .content th {
	padding:0.5em 0.8em;
}
.content td {
	color:#444;
}
.table_underline {
	border-bottom:1px solid #bbb;
}
.content .colwrapper{
	margin: 0 25px;	
	overflow: hidden;
}
.content .two_col {
	float:left;	
	width: 50%;
}
.content .service_status {
	font-size:1.1em;
	color:#666;	
}
.content .service_status span{
		color:#000;		
}
.content .usage_remaining{
	text-align:right;
	font-size:1.1em;
	font-weight:bold;	
	color:#666;	
}
.content a.btn_logout {
	padding: .5em 1em;
	margin: .8em auto .5em auto;
	background:#128acc;
	color:#fff;
	display:block;
	width:7em;
	font-size:1.2em;
	font-weight:bold;
	text-decoration:none;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}
.content a:hover.btn_logout{
	background:#00447c;	
}
.content p small {
	color:#666;
	margin:1.6em auto;
	display:block;
}
.content .text_blurb {
	margin: 10px 25px 16px 25px;
	padding-bottom: 16px;
	text-align:left;
	border-bottom: 1px solid #ddd;
}
#header {
    margin-left: 10px;
	background-color: #FFFFFF; 
	max-height: 66px;
	height: 66px;
	margin-right: 0px;
	display:none;
}
#header h1 {
    font-size: 15px;
    color: #000000;
    padding-left: 40px;
    margin-top: 25px;
    float: left;
}
#student-it-logo {
	float: right;
	width: 98px;
	height: 66px;
	padding: 0px;
	background: url('http://smart.studentit.unimelb.edu.au/images/IT_logo_small_02.gif') top right no-repeat !important;
}

#student-it-logo a {
    position: absolute;
    top: 0px;   
	width: 98px;
    height: 66px;
    min-width: 98px;
}
.usage-page-header {
    padding: 0px;
    background: url('http://smart.studentit.unimelb.edu.au/images/meter_32.gif') no-repeat center left;
}
#student-it-link-text {
    display: none;
}


/*///////////// SMALL  SCREENS  ////////// */

@media screen and (max-width: 480px) { 

    html {	
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    .centreContent {
        -webkit-text-size-adjust: 110%;
        line-height:18px;
    }

    .content{
        background: url('http://smart.studentit.unimelb.edu.au/images/IT_Lvl3_repeatbg.jpg') top left repeat-x;
        padding: 0;

        width: auto;
    }
    .content h1 {
        padding: 0;
        margin: 0;
        width: auto;
        height: 66px;
        line-height: 66px;
        font-size: medium;

        color: black;

        background: none;

    }

    .content h1:before {
        content: url(images/meter.gif);
        vertical-align: -15%;
        padding: 0 5px;
    }

    .content h1:after {
        content: url(http://smart.studentit.unimelb.edu.au/images/IT_logo_small_02.gif);
        padding: 0 5px;

        position: absolute;
        top: 0px;
        right: 0px;
    }

    .content h2 {
        margin-top: 4px;
        font-weight: normal;
    }

    .content label {
        color: #0da9b3;
        line-height: 1.5em;
    }

    .content input[type="text"], .content input[type="password"] {
        background: white;
        border: none;
        line-height: 1.5em;
        width: 65%;

        margin: 0 0.5em;
        padding: 0 2px;
    }

    .content table {
        width: auto;
        margin: auto;
    }

    .content #usagemeter {
        width: 95%;
        margin: auto;
    }

    .content .q {
        padding: 2px 0 2px 10px;

        border: 1px solid #0da9b3;
        border-radius: 8px;
        background: white;
    }

    #usage {
        border: none;
    }

}


} 
    

/*///////////// END SMALL SCREENS ////////// */

